/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */
:root {
  --white: #fff;
  --neutral-5: #f7f9fc;
  --neutral-10: #eff2f9;
  --neutral-15: #e7eaf4;
  --neutral-20: #d9deeb;
  --neutral-30: #bec4d5;
  --neutral-40: #9fa6bb;
  --neutral-50: #828ba2;
  --neutral-60: #656e83;
  --neutral-70: #495163;
  --neutral-80: #303848;
  --neutral-90: #1e2532;
  --neutral-100: #0f141e;
  --blue-10: #eaf6ff;
  --blue-20: #c3e5fe;
  --blue-30: #92cdfc;
  --blue-40: #54aff8;
  --blue-50: #1a91f0;
  --blue-60: #1170cd;
  --blue-70: #10529b;
  --blue-80: #0f3871;
  --blue-90: #0c264c;
  --blue-100: #09162d;
  --indigo-10: #f1f2ff;
  --indigo-20: #dbdeff;
  --indigo-30: #bec2fe;
  --indigo-40: #9ba1fb;
  --indigo-50: #7a82f5;
  --indigo-60: #5660e8;
  --indigo-70: #343ecc;
  --indigo-80: #282b8f;
  --indigo-90: #1a1c6a;
  --indigo-100: #0e0f47;
  --green-10: #e7f4ed;
  --green-20: #c6e4d2;
  --green-30: #96d0ad;
  --green-40: #48ba75;
  --green-50: #339d5d;
  --green-60: #217d47;
  --green-70: #135c37;
  --green-80: #094025;
  --green-90: #042b18;
  --green-100: #01180d;
  --amber-10: #fff2cc;
  --amber-20: #fddb8c;
  --amber-30: #f9ba44;
  --amber-40: #ec930c;
  --amber-50: #cf760d;
  --amber-60: #a85a0e;
  --amber-70: #7f400d;
  --amber-80: #582c0c;
  --amber-90: #3e1d0a;
  --amber-100: #231007;
  --orange-10: #feebe3;
  --orange-20: #fdd2c0;
  --orange-30: #fbb092;
  --orange-40: #f68559;
  --orange-50: #ee571d;
  --orange-60: #bf4213;
  --orange-70: #8b3211;
  --orange-80: #5e240e;
  --orange-90: #3b180b;
  --orange-100: #1c0c06;
  --red-10: #ffeaec;
  --red-20: #ffd0d5;
  --red-30: #ffacb5;
  --red-40: #fe7d8b;
  --red-50: #fb4458;
  --red-60: #da0c22;
  --red-70: #a10e1d;
  --red-80: #6f0e19;
  --red-90: #470c12;
  --red-100: #24090c;
  --beige-10: #f3f1eb;
  --beige-20: #e1ddd2;
  --beige-30: #cbc3b3;
  --beige-40: #afa58f;
  --beige-50: #968a70;
  --beige-60: #776d59;
  --beige-70: #575041;
  --beige-80: #3c372d;
  --beige-90: #27241d;
  --beige-100: #15130f;
  --facebook-color: #3b5998;
  --twitter-color: #1da1f2;
  --linkedin-color: #0077b5;
  --youtube-color: #ff3d00;
  --pinterest-color: #cd1f28;
  --spotify-color: #1ed760;
  --tiktok-color: #1e2532;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  background-color: var(--neutral-10);
  color: var(--neutral-90);
  font-family:
    "TT Commons",
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    Ubuntu,
    Cantarell,
    "Noto Sans",
    sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 24px;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.pl-1 {
  padding-left: 5px;
}

.pl-2 {
  padding-left: 10px;
}

.pl-3 {
  padding-left: 15px;
}

.pl-4 {
  padding-left: 20px;
}

.pr-1 {
  padding-right: 5px;
}

.pr-2 {
  padding-right: 10px;
}

.pr-3 {
  padding-right: 15px;
}

.pr-4 {
  padding-right: 20px;
}

.pt-1 {
  padding-top: 5px;
}

.pt-2 {
  padding-top: 10px;
}

.pt-3 {
  padding-top: 15px;
}

.pt-4 {
  padding-top: 20px;
}

.pb-1 {
  padding-bottom: 5px;
}

.pb-2 {
  padding-bottom: 10px;
}

.pb-3 {
  padding-bottom: 15px;
}

.pb-4 {
  padding-bottom: 20px;
}

.p-1 {
  padding: 5px;
}

.p-2 {
  padding: 10px;
}

.p-3 {
  padding: 15px;
}

.p-4 {
  padding: 20px;
}

.font-color-grey {
  color: var(--grey);
}

.font-color-black {
  color: var(--black);
}

.display-flex {
  display: flex;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  display: flex;
  height: 80px;
  width: 100%;
  place-content: space-between space-between;
  flex-flow: row nowrap;
  padding: 0 32px;
  align-items: center;

  /* font-weight: bold; */

  /* font-size: medium; */
}

.nav-bar-logo {
  background-position: 0 50%;
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  height: 35.9px;
  width: 125px;
}

.nav-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: auto;
}

.nav-bar-link {
  align-items: center;
  color: var(--neutral-90);
  display: flex;
  height: 80px;
  padding: 0 16px;
  transition: color 0.15s;
}

.nav-bar-link:hover {
  color: var(--blue-70);
}

.nav-bar-link.active {
  color: var(--neutral-50);
}

.nav-bar-separator {
  background-color: var(--neutral-20);
  height: 16px;
  margin-left: 24px;
  margin-right: 40px;
  width: 1px;
}

.nav-bar-auth-link {
  color: var(--blue-50);
  margin-right: 24px;
  transition: color 0.15s;
}

.button {
  appearance: none;
  background-color: var(--blue-50);
  border-radius: 4px;
  border-width: 0;
  color: var(--white);
  cursor: pointer;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  outline: none;
  padding: 14px 24px;
  text-align: center;
  transition:
    background-color 0.1s,
    color 0.1s,
    box-shadow 0.1s;
  transition:
    background-color 0.1s,
    color 0.1s,
    box-shadow 0.1s,
    -webkit-box-shadow 0.1s;
  user-select: none;
}

.button.button-ghost {
  background-color: initial;
  border: 1px solid var(--blue-50);
  color: var(--blue-50);
  padding: 13px 23px;
}
